.u-section-1 .u-sheet-1 {
  min-height: 505px;
}

.u-section-1 .u-group-1 {
  width: 1122px;
  min-height: 471px;
  background-image: none;
  margin: 34px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 14px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  box-shadow: -2px 2px 8px 0 rgba(178,0,0,1);
  font-weight: 700;
  margin: 62px auto 0;
  padding: 6px 60px 7px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -64px 309px 0 auto;
  padding: 10px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -64px 227px 0 auto;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 234px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 189px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -97px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 122px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 118px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -76px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
  }

  .u-section-1 .u-icon-1 {
    width: 55px;
    height: 55px;
    margin-top: -55px;
    margin-right: -11px;
    padding: 0;
  }

  .u-section-1 .u-icon-2 {
    width: 58px;
    height: 58px;
    margin-top: -61px;
    margin-right: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    width: 318px;
    min-height: 542px;
    margin: 8px auto 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 4px;
    margin-left: -13px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: -13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    padding-right: 48px;
    padding-left: 48px;
  }

  .u-section-1 .u-icon-1 {
    width: 42px;
    height: 42px;
    margin-top: 33px;
    margin-right: auto;
    margin-left: 116px;
  }

  .u-section-1 .u-icon-2 {
    width: 51px;
    height: 51px;
    margin-top: -47px;
    margin-right: 95px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1226px;
}

.u-section-2 .u-list-1 {
  width: 649px;
  margin: 200px auto 0 58px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 63px;
  width: 63px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 63px;
  width: 63px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 248px;
  height: 482px;
  margin: -453px 121px 0 auto;
}

.u-section-2 .u-list-2 {
  width: 649px;
  margin: 101px 20px 0 auto;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  background-image: none;
  margin: 20px 1px 0 4px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 500;
  background-image: none;
  margin: 20px 1px 0 4px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  width: 247px;
  height: 481px;
  margin: -461px auto 60px 160px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-left: 24px;
  }

  .u-section-2 .u-icon-1 {
    padding: 10px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(219, 84, 90) !important;
    padding: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -435px;
    margin-right: 19px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 83px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -460px;
    margin-left: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2381px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-2 .u-list-2 {
    margin-top: 75px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-2 {
    margin-top: 4px;
    margin-right: 221px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 28px;
    margin-right: auto;
    margin-bottom: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2557px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 22px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
    margin-top: 99px;
  }
}