 .u-section-1 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-1 .u-sheet-1 {
  min-height: 838px;
}

.u-section-1 .u-icon-1 {
  height: 214px;
  width: 214px;
  margin: 214px auto 0 221px;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 439px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(178,0,0,0.4);
  margin: -326px 106px 0 524px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-input-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-input-2 {
  font-size: 1.5rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 14px 30px 15px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 35px 152px 60px 251px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 265px;
    margin-left: 104px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -284px;
    margin-right: 54px;
    margin-left: 376px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 58px;
    margin-right: 52px;
    margin-left: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 92px;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    width: 510px;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-1 .u-icon-1 {
    height: 176px;
    width: 176px;
    margin-top: 31px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-input-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-input-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
  }
}