 .u-section-1 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-1 .u-sheet-1 {
  min-height: 1093px;
}

.u-section-1 .u-icon-1 {
  height: 112px;
  width: 112px;
  margin: 28px auto 0 34px;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 99px;
  box-shadow: 5px 5px 20px 0 rgba(0,43,70,0.4);
  min-height: 231px;
  margin: 152px auto 0 34px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 11px;
  padding-bottom: 30px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 1px auto 0;
  padding: 15px;
}

.u-section-1 .u-icon-3 {
  width: 33px;
  height: 33px;
  margin: 17px auto 0;
}

.u-section-1 .u-icon-4 {
  width: 36px;
  height: 36px;
  margin: 33px auto 0;
}

.u-section-1 .u-form-1 {
  height: 561px;
  background-image: none;
  margin: -298px 277px 60px 353px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 14px 30px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 177px;
    margin-left: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    height: 503px;
    margin-top: -303px;
    margin-right: 49px;
    margin-left: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -295px;
    margin-right: 0;
    margin-left: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 79px;
    margin-left: 33px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -163px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
  }
}