/* Isso é uma gambiarra que eu não sei como consertar agr!!! */
/* Se eu não conseguir consertar no futuro também, vou migrar o conteúdo desse arquivo pro css principal */
#hidden-info2{
    display: none;
}
#hidden-info3{
    display: none;
}
#hidden-info4{
    display: none;
}
#hidden-info5{
    display: none;
}
#hidden-info6{
    display: none;
}
#hidden-info7{
    display: none;
}
#hidden-info8{
    display: none;
}
#hidden-info9{
    display: none;
}


#cb-show2{
    display: none;
}
#cb-show2:checked + .dev-info #hidden-info2 {
    display: block;
}

#cb-show3{
    display: none;
}
#cb-show3:checked + .dev-info #hidden-info3 {
    display: block;
}

#cb-show4{
    display: none;
}
#cb-show4:checked + .dev-info #hidden-info4 {
    display: block;
}

#cb-show5{
    display: none;
}
#cb-show5:checked + .dev-info #hidden-info5 {
    display: block;
}

#cb-show6{
    display: none;
}
#cb-show6:checked + .dev-info #hidden-info6 {
    display: block;
}

#cb-show7{
    display: none;
}
#cb-show7:checked + .dev-info #hidden-info7 {
    display: block;
}

#cb-show8{
    display: none;
}
#cb-show8:checked + .dev-info #hidden-info8 {
    display: block;
}

#cb-show9{
    display: none;
}
#cb-show9:checked + .dev-info #hidden-info9 {
    display: block;
}