
@import url('https://fonts.google.com/specimen/Roboto+Slab?sidebar.open=true&selection.family=Roboto+Slab:wght@400;700');

*{
    box-sizing: border-box;
}
/*Topo da Pagina*/
.section-project {
    background-image: linear-gradient(to bottom,#e8e8e8 0,#e8e8e8 60%,#ffffff 100%);
    width: 100% !important;
}
.header-project {
    width: 100% !important;
    height: 80vh;
    position: relative;
}


.header-project .description-project h1 {
    color: rgb(0, 0, 0);
    align-items: center;
    margin: 0 auto;
    font: normal bold 3.87rem Verdana !important;
    line-height: 1;
    font-weight: 700!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-project .description-project h2 {
    color: rgb(255, 0, 0);
    align-items: center;
    margin: 0 auto;
    font: normal bold 4.5rem Verdana !important;
    line-height: 1;
    font-weight: 700!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-project .description-project .description {
    color: rgb(102, 102, 102);
    font: normal normal 1em Verdana;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 46px;
}
.description-project {
    padding: 64px;
}
.description-box {
    width: 1080px;
    height: 180px;
}


/*Botão de Download da Página Inicial*/
.button-download {
    position: flex;
    margin: 0 auto;
    margin-top: 64px;
}
.button-download .button {
    width: 320px;
    height: 5vh;
    border: solid 2px rgb(227, 29, 29);
    background-color: red;
   
}
.button-download .button span{
    display: flex;
    justify-content: center;
    position: relative;
    color: rgb(255, 255, 255);
    top: 17%;
    font: normal normal 1.5em Verdana;
}
.button-download .button span svg{
   position: relative;
   right: 8px;
   top: 2px;
}
.button-download .button:hover {
    transition: 0.4s;
    border-bottom: solid 4px rgb(205, 6, 6);
    background-color: rgb(116, 46, 46);
}

/* Main principal */
#main-index {
    width: 100%;
    height: 1090px;
}
.box-apresentation {
    width: 1080px;
    height: 330px;
    margin: 0 auto;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
}
.context-box {

    display: flex;

    width: 540px;

    height: 60px;

   

}

.image-box {

    display: flex;

    justify-content: center;

    align-items: center;

    width: 80px;

    height: 100%;

}

.icon-chat {

    align-self: left;

    transform: tranlasteY(0px);

    animation: float 3s ease-in-out infinite;

}

#main-index .box-apresentation .context-box h1 {

    display: flex;

    justify-content: center;

    align-items: center;

    font: normal bold 2.50rem "Robot Slab";

    color: #333333;

}

.info-box {

    width: 500px;

    height: 100%;

    display: flex;

    align-items: top;

}

.info-box p{

    padding: 0 0 0 10px;

    text-align: justify;

    font: normal normal 1.025rem Verdana;

    color: #666;

    line-height: 1.65rem!important;

}
.list-box {
    width: 1080px;
    height: 230px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
    margin: 0 auto;
    
}
.list {
    width: 350px;
    height: 230px;
    padding: 12px;
    margin-left: 15px;
    
    display: inline-block;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
}
.list:first-child {
    margin-left: 0;
}
/*img {
    transform: tranlasteY(0px);
    animation: float 5s ease-in-out infinite;
}*/
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}