@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
:root {
    --colorOne: rgb(226, 136, 19);
    --colorTwo: #5c5c5c;
    --colorWhite: white;
    --transparent: transparent;

    --fontOne: 'Poppins', sans-serif;
    --fontTwo: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: var(--fontOne);
    overflow-x: hidden;
}
nav {
    width: 100%;
    height: 96px;
    background-color: rgba(87, 81, 81, 0.74);
    color: black;
}
.container {
    width: 100%;
}
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
}
