

.ft-main{
    height: 20rem;
    padding-top: 5rem ;
    background-color: #002b46;
    align-items: center;
    justify-content: center;    
}
.ft-container{
    height: 17rem;
    background-color: #a32331;
    padding-top: 0.5rem;
    align-items: center;
    justify-content: center; 
}
.ft-box{
    flex-direction: row;
    display: flex;
    height: 4rem;
    background-color: gray;
    margin: 1.5rem 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.ft-img-box{
    padding: .3rem 0.5rem;
    width: 40%;
    background: #000;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0rem 3rem ;
    flex-direction: row;
    display: flex;

}
.ft-img{
    border-radius: 45%;
    background-color: #999;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 60px;
    flex-direction: row;
    margin: 0rem 1rem;
    display: flex; 
}
.ft-logo{
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #fff;
    margin: 0rem 2rem;

}
.ft-height{
    height: 8rem
}
.ft-colum{
    padding: .3rem 0.5rem;
    width: 22rem;
    background: #000;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0rem 3rem ;
    flex-direction: row;
    display: flex;
}