
.ft-main{
    height: 10rem;
    background-color: #333;
    align-items: center;
    justify-content: center;    
}
.ft-conteiner{
    height: 9rem;
    background-color: rgb(155, 86, 86);
    align-items: center;
    justify-content: center; 
}
.ft-box{
    flex-direction: row;
    flex: 1;
    height: 2rem;
    background-color: wheat;
    margin: 0px 10rem;
    align-items: center;
    justify-content: center;
}
.ft-img-box{
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.ft-img{
    border-radius: 50%;
    background-color: #999;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 30px;
    margin: 2rem;
}
.ft-logo{
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: .5rem;
    background-color: #999;
}
