
.content-box-options{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 2vw;
    position: absolute;
}
.editor-tiny {
    height: 200px;
    width: 70%;
}
.pn-menu-options {
    border-radius: 10px;
    background-color: rgba(233, 232, 232, 0.575);
}
.pn-input-title{
    font-size: 15px;
    color: rgb(179, 53, 22);
    font-weight: 600;
}
.pn-button-enviar {
    background-color: rgb(66, 175, 66);
    border: none;
    width: 120px;
    height: 32px;
    align-items: center;
    cursor: pointer;
    color: rgb(211, 208, 208);
}
.pn-button-enviar:hover {
    background-color: rgb(35, 132, 35);
    transition: 0.2s linear;
    border: none;
    width: 120px;
    height: 32px;

}
.pn-container-footer {
    width: 900px;
    display: flex;
    justify-content: right;
    
}
.pn-footer {
    height: 300px;
    width: 100%;
    background-color: black;
}